In [1]:
import numpy as np
import pandas as pd

# Generic Functions

In [5]:
def get_full_mse_df(npy_file):
    file = np.load(npy_file, allow_pickle=True)
    df = pd.DataFrame(file.T)
    df["iters"] = df.index + 1
    df = df[["iters"] + [col for col in df.columns if col != "iters"]]
    return df

def get_summary_mse_df(full_df, n_reps=10):
    df = {}
    min_mse_list = []
    min_mse_iters_list = []
    final_mse_list = []
    final_mse_iters = []
    for i in range(n_reps):
        mse_list = full_df[i].to_list()
        min_mse = np.min(mse_list)
        min_mse_iters = np.argmin(mse_list)+1
        final_mse = mse_list[-1]
        min_mse_list.append(min_mse)
        min_mse_iters_list.append(min_mse_iters)
        final_mse_list.append(final_mse)
        final_mse_iters.append(len(mse_list))
    df = pd.DataFrame({"min_val_mse": min_mse_list, "min_mse_iters": min_mse_iters_list, 
                       "final_val_mse": final_mse_list, "final_mse_iters": final_mse_iters})
    return df

# 1. EXP

## 1.1 No noise

We obtain very good results across all seeds.

In [3]:
# Get the full validation MSE data frame
exp_full = get_full_mse_df("rand_reps_exp.npy")
exp_full

,iters,0,1,2,3,4,5,6,7,8,9
0,1,4.746557e-01,4.746606e-01,4.746538e-01,4.746460e-01,4.746497e-01,4.746439e-01,4.746561e-01,4.746522e-01,4.746467e-01,4.746547e-01
1,2,4.400572e-01,4.400290e-01,4.400440e-01,4.401067e-01,4.401218e-01,4.401127e-01,4.400697e-01,4.401096e-01,4.401856e-01,4.400700e-01
2,3,3.427650e-01,3.426855e-01,3.428038e-01,3.429307e-01,3.429035e-01,3.429601e-01,3.427519e-01,3.428769e-01,3.430994e-01,3.428497e-01
3,4,1.779996e-01,1.779640e-01,1.780993e-01,1.782105e-01,1.781251e-01,1.782709e-01,1.780350e-01,1.781716e-01,1.783883e-01,1.782191e-01
4,5,2.074710e-02,2.066731e-02,2.079214e-02,2.081237e-02,2.075213e-02,2.084445e-02,2.072191e-02,2.081529e-02,2.084613e-02,2.085380e-02
...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,1.676114e-13,2.782214e-13,6.466612e-11,2.408794e-14,2.812768e-11,4.142476e-13,3.408198e-13,1.026583e-14,7.651774e-11,8.673304e-11
1996,1997,1.676114e-13,2.782214e-13,6.466612e-11,2.408794e-14,2.812768e-11,4.142476e-13,3.408198e-13,1.026583e-14,7.651774e-11,8.673304e-11
1997,1998,1.676114e-13,2.782214e-13,6.466612e-11,2.408794e-14,2.812768e-11,4.142476e-13,3.408198e-13,1.026583e-14,7.651774e-11,8.673304e-11
1998,1999,1.676114e-13,4.382175e-13,6.466612e-11,2.408794e-14,2.812768e-11,4.142476e-13,3.408198e-13,1.026583e-14,7.651774e-11,8.673304e-11
1999,2000,1.676114e-13,4.382175e-13,6.466612e-11,2.408794e-14,2.812768e-11,4.142476e-13,3.408198e-13,1.026583e-14,7.651774e-11,8.673304e-11

In [4]:
# Get a summary of the MSE across seeds
exp_summary = get_summary_mse_df(exp_full)
exp_summary

    min_val_mse  min_mse_iters  final_val_mse  final_mse_iters
0  1.004337e-13            649   1.676114e-13             2000
1  2.727069e-13            648   4.382175e-13             2000
2  5.830798e-11            731   6.466612e-11             2000
3  2.408794e-14           1063   2.408794e-14             2000
4  2.308548e-11            859   2.812768e-11             2000
5  2.334651e-13            736   4.142476e-13             2000
6  2.776882e-13            738   3.408198e-13             2000
7  1.026583e-14            949   1.026583e-14             2000
8  7.093053e-11            884   7.651774e-11             2000
9  7.687641e-11            705   8.673304e-11             2000

## 1.2 Noise after tuning

Noise improves the results, lowering the mean validation MSE by an order of magnitude.

In [5]:
# Get a summary of the MSE across seeds
exp_full = get_full_mse_df("rand_reps_exp_noise_1.npy")
exp_summary = get_summary_mse_df(exp_full)
exp_summary

    min_val_mse  min_mse_iters  final_val_mse  final_mse_iters
0  2.586559e-13            833   3.727642e-13             2000
1  3.867184e-14            743   5.821585e-13             2000
2  7.701270e-12            746   9.191179e-12             2000
3  3.676960e-12            825   5.102898e-12             2000
4  4.728251e-13            909   5.293022e-13             2000
5  5.802772e-13            898   6.475366e-13             2000
6  1.655414e-14            542   5.807018e-13             2000
7  3.664431e-13            926   3.695142e-13             2000
8  5.022975e-14            738   4.158357e-13             2000
9  5.734974e-13            704   6.832889e-13             2000

## 1.3 Adam (no noise)

In [7]:
# Get a summary of the MSE across seeds
exp_full = get_full_mse_df("rand_reps_exp_adam.npy")
exp_summary = get_summary_mse_df(exp_full, n_reps=20)
exp_summary

     min_val_mse  min_mse_iters  final_val_mse  final_mse_iters
0   3.182350e-16            760   1.291466e-14             1000
1   3.182350e-16            758   3.182350e-16             1000
2   3.182350e-16            583   3.182350e-16             1000
3   3.182350e-16            754   1.291466e-14             1000
4   3.182350e-16            843   3.182350e-16             1000
5   3.182350e-16            737   1.294608e-14             1000
6   3.182350e-16            804   3.182350e-16             1000
7   3.182350e-16            719   3.182350e-16             1000
8   3.182350e-16            790   3.182350e-16             1000
9   3.182350e-16            813   3.182350e-16             1000
10  3.182350e-16            714   3.182350e-16             1000
11  3.182350e-16            820   3.738750e-15             1000
12  3.182350e-16            749   3.182350e-16             1000
13  3.182350e-16            852   3.182350e-16             1000
14  3.182350e-16            683   3.182350e-16             1000
15  3.182350e-16            613   3.738750e-15             1000
16  3.182350e-16            799   1.294608e-14             1000
17  3.182350e-16            704   3.738750e-15             1000
18  3.182350e-16            707   1.294608e-14             1000
19  3.182350e-16            784   1.294608e-14             1000

## 1.4 Adam (noise after tuning)

In [19]:
# Get a summary of the MSE across seeds
exp_full = get_full_mse_df("rand_reps_exp_adam_noise.npy")
exp_summary = get_summary_mse_df(exp_full, n_reps=20)
exp_summary

     min_val_mse  min_mse_iters  final_val_mse  final_mse_iters
0   3.182350e-16            760   4.948368e-14             1000
1   3.182350e-16            800   3.182350e-16             1000
2   3.182350e-16            827   3.182350e-16             1000
3   3.182350e-16            781   1.294608e-14             1000
4   3.182350e-16            711   1.294608e-14             1000
5   3.182350e-16            795   1.294608e-14             1000
6   3.182350e-16            805   1.291466e-14             1000
7   3.182350e-16            736   3.182350e-16             1000
8   3.182350e-16            802   3.182350e-16             1000
9   3.182350e-16            827   3.182350e-16             1000
10  3.182350e-16            633   3.182350e-16             1000
11  3.182350e-16            833   3.182350e-16             1000
12  3.182350e-16            791   3.182350e-16             1000
13  3.182350e-16            724   1.291466e-14             1000
14  3.182350e-16            772   3.738750e-15             1000
15  3.182350e-16            645   3.182350e-16             1000
16  3.182350e-16            776   3.182350e-16             1000
17  3.182350e-16            838   3.182350e-16             1000
18  3.182350e-16            659   1.294608e-14             1000
19  3.182350e-16            739   3.182350e-16             1000

# 2. SHO

## 2.1 No noise

We obtain generally very good results but observe two seeds that never improve during training.

In [6]:
# Get a summary of the MSE across seeds
sho_full = get_full_mse_df("rand_reps_sho.npy")
sho_summary = get_summary_mse_df(sho_full)
sho_summary

    min_val_mse  min_mse_iters  final_val_mse  final_mse_iters
0  8.249775e-11           4029   4.255164e-10            10000
1  4.853613e-11           2880   5.102058e-10            10000
2  5.275599e-11           8734   2.705398e-10            10000
3  2.544008e-11           8978   2.752317e-10            10000
4  3.127805e-12           6542   1.093761e-10            10000
5  3.773394e-11           5244   5.315696e-10            10000
6  3.846670e-02           1018   4.819122e-01            10000
7  1.222590e-11           5243   1.070111e-10            10000
8  1.605145e-03           9918   1.608532e-03            10000
9  5.634251e-12           8863   5.726357e-12            10000

## 2.2 Noise after tuning

Noise improves stability of results, fixing the two seeds that performed poorly.

In [7]:
# Get a summary of the MSE across seeds
sho_full = get_full_mse_df("rand_reps_sho_noise_1.npy")
sho_summary = get_summary_mse_df(sho_full)
sho_summary

    min_val_mse  min_mse_iters  final_val_mse  final_mse_iters
0  4.845770e-11           3645   3.738518e-10            10000
1  1.262656e-11           5537   3.613082e-11            10000
2  1.265906e-10           4614   1.649324e-10            10000
3  1.639964e-11           2948   1.634220e-10            10000
4  3.147885e-11           3560   3.168681e-10            10000
5  3.890491e-11           2498   1.417493e-10            10000
6  1.745135e-11           4819   3.134744e-11            10000
7  5.686159e-11           2408   2.173837e-10            10000
8  5.640133e-11           5849   5.685734e-11            10000
9  1.125001e-11           5821   2.973742e-11            10000

## 2.3 Adam (no noise)

In [10]:
# Get a summary of the MSE across seeds
sho_full = get_full_mse_df("rand_reps_sho_adam.npy")
sho_summary = get_summary_mse_df(sho_full, n_reps=20)
sho_summary

     min_val_mse  min_mse_iters  final_val_mse  final_mse_iters
0   6.949882e-13           9640   2.646104e-12            10000
1   1.059259e-12           9841   9.952952e-12            10000
2   2.800808e-12           9212   5.772310e-11            10000
3   1.161548e-12           9237   4.432507e-12            10000
4   8.455382e-13           9955   1.800132e-12            10000
5   1.034651e-12           9301   2.239698e-12            10000
6   1.020633e-12           8834   3.868005e-11            10000
7   1.568049e-12           9681   8.094686e-12            10000
8   6.695560e-13           9917   1.932253e-12            10000
9   6.603821e-13           9552   1.280856e-12            10000
10  8.456418e-13           9657   4.295518e-12            10000
11  2.267509e-12           8784   3.593593e-11            10000
12  1.847640e-12           9611   9.139383e-12            10000
13  6.982733e-13           9336   3.472409e-12            10000
14  1.852468e-12           9068   3.509963e-11            10000
15  1.224520e-12           9547   8.937973e-12            10000
16  3.244293e-13           9133   2.838135e-12            10000
17  1.486661e-12           9798   3.826868e-11            10000
18  1.374894e-12           9567   2.658084e-11            10000
19  5.599097e-13           9712   1.120902e-11            10000

## 2.4 Adam (noise after tuning)

In [18]:
# Get a summary of the MSE across seeds
sho_full = get_full_mse_df("rand_reps_sho_adam_noise.npy")
sho_summary = get_summary_mse_df(sho_full, n_reps=20)
sho_summary

     min_val_mse  min_mse_iters  final_val_mse  final_mse_iters
0   9.539417e-13           9959   5.610926e-12            10000
1   1.102549e-12           9982   5.762891e-12            10000
2   3.191839e-13           9682   1.907260e-12            10000
3   7.990339e-13           9835   1.126042e-11            10000
4   1.721623e-12           8985   1.032390e-11            10000
5   2.793750e-12           9887   2.985531e-11            10000
6   8.449570e-13           9633   2.089088e-12            10000
7   4.482795e-13           9665   1.122717e-11            10000
8   8.377300e-13           9239   1.172766e-11            10000
9   1.158776e-12           9915   4.474249e-12            10000
10  8.823715e-13           9936   2.263587e-11            10000
11  7.344328e-13           9668   1.302336e-11            10000
12  4.478352e-13           9685   8.626610e-12            10000
13  7.789190e-13           9623   2.589936e-12            10000
14  1.204783e-12           9861   1.821122e-11            10000
15  1.198275e-12           9718   5.679051e-12            10000
16  1.047387e-12           9911   1.673581e-11            10000
17  1.273662e-12           9915   5.560714e-12            10000
18  3.410271e-12           8571   4.064589e-11            10000
19  7.573306e-13           9974   2.632549e-12            10000

# 3. NLO

## 3.1 No noise

In [8]:
# Get a summary of the MSE across seeds
nlo_full = get_full_mse_df("rand_reps_nlo.npy")
nlo_summary = get_summary_mse_df(nlo_full)
nlo_summary

    min_val_mse  min_mse_iters  final_val_mse  final_mse_iters
0  2.012188e-08          19565   2.487858e-08            20000
1  2.059821e-08          19760   2.794884e-08            20000
2  1.857950e-08          19560   3.264189e-08            20000
3  2.106556e-08          19685   3.357819e-08            20000
4  1.908642e-08          19928   2.902942e-08            20000
5  1.946937e-08          19783   2.553012e-08            20000
6  1.920052e-08          18827   3.193488e-08            20000
7  1.893410e-08          18812   3.297774e-08            20000
8  2.076334e-08          19205   2.788512e-08            20000
9  2.094348e-08          18953   2.380631e-08            20000

## 3.2 Noise after tuning

In [9]:
# Get a summary of the MSE across seeds
nlo_full = get_full_mse_df("rand_reps_nlo_noise_1.npy")
nlo_summary = get_summary_mse_df(nlo_full)
nlo_summary

    min_val_mse  min_mse_iters  final_val_mse  final_mse_iters
0  3.067020e-08          19997   4.039383e-08            20000
1  2.506759e-08          19626   4.160630e-08            20000
2  2.539452e-08          19822   4.003948e-08            20000
3  1.669530e-08          19181   2.651417e-08            20000
4  2.025340e-08          19921   2.223470e-08            20000
5  1.822054e-08          19657   2.705967e-08            20000
6  2.251306e-08          19973   3.488466e-08            20000
7  1.463856e-08          19331   2.431310e-08            20000
8  2.677572e-08          19958   3.263035e-08            20000
9  2.839763e-08          19720   4.181555e-08            20000

## 3.3 Adam (no noise)

In [12]:
# Get a summary of the MSE across seeds
nlo_full = get_full_mse_df("rand_reps_nlo_adam.npy")
nlo_summary = get_summary_mse_df(nlo_full, n_reps=20)
nlo_summary

     min_val_mse  min_mse_iters  final_val_mse  final_mse_iters
0   3.032193e-12           8939   3.971227e-12            20000
1   6.134351e-12           7956   1.392060e-11            20000
2   2.730815e-12           8652   8.541823e-12            20000
3   1.463018e-12           9031   2.173762e-12            20000
4   8.591035e-13           9883   1.983389e-12            20000
5   2.966206e-12           8043   1.304809e-11            20000
6   3.185039e-02             78   1.051502e+00            20000
7   1.897671e-12           9506   2.779650e-12            20000
8   1.559392e-12          10389   1.851765e-12            20000
9   6.431882e-10           8652   7.880649e-10            20000
10  1.159953e-12           9684   1.768060e-12            20000
11  3.192699e-12           8745   6.115708e-12            20000
12  2.596968e-12           8653   5.402305e-12            20000
13  2.019202e-12           9206   2.803893e-12            20000
14  2.227781e-10           7682   3.579262e-10            20000
15  1.542368e-12           9992   2.519691e-12            20000
16  6.556072e-13          10157   9.181609e-13            20000
17  9.373462e-11           9203   1.093500e-10            20000
18  7.555762e-12           8734   8.753257e-12            20000
19  1.319355e-11           8026   2.905264e-11            20000

## 3.4 Adam (noise after tuning)

In [20]:
# Get a summary of the MSE across seeds
nlo_full = get_full_mse_df("rand_reps_nlo_adam_noise.npy")
nlo_summary = get_summary_mse_df(nlo_full, n_reps=20)
nlo_summary

     min_val_mse  min_mse_iters  final_val_mse  final_mse_iters
0   1.374536e-12           9531   1.944244e-12            20000
1   3.891232e-12           9292   5.529722e-12            20000
2   4.820108e-12           8506   1.052817e-11            20000
3   3.752197e-12           8699   6.965036e-12            20000
4   8.735825e-12           7488   1.502813e-11            20000
5   2.563437e-12           9606   4.076467e-12            20000
6   2.301169e-11           8412   6.294290e-11            20000
7   9.646977e-12           7923   1.283425e-11            20000
8   4.922947e-12           8420   1.131490e-11            20000
9   3.548549e-02             41   1.050310e+00            20000
10  1.310247e-11           8147   2.330684e-11            20000
11  9.364405e-13           8604   2.942541e-12            20000
12  2.777117e-02             84   7.522793e-01            20000
13  5.522762e-12           8162   4.538332e-11            20000
14  1.879681e-12           9549   3.293496e-12            20000
15  6.360523e-13           9665   8.789365e-13            20000
16  1.739312e-12           9350   2.979971e-12            20000
17  3.962327e-12           7881   1.342361e-11            20000
18  1.209556e-11           8598   2.294520e-11            20000
19  7.505073e-13           9123   1.623642e-12            20000

# 4. POS

## 4.1 No noise

We obtain very good and consistent results across all seeds.

In [10]:
# Get a summary of the MSE across seeds
pos_full = get_full_mse_df("rand_reps_pos.npy")
pos_summary = get_summary_mse_df(pos_full)
pos_summary

    min_val_mse  min_mse_iters  final_val_mse  final_mse_iters
0  7.625418e-12           3984   8.491730e-12             4000
1  5.861788e-12           3969   5.963139e-12             4000
2  8.617010e-12           3981   9.597004e-12             4000
3  1.076432e-11           3937   1.103256e-11             4000
4  1.346913e-11           3976   1.600508e-11             4000
5  1.079694e-11           3950   1.255131e-11             4000
6  2.888076e-12           3981   3.012331e-12             4000
7  5.713636e-12           3874   5.973069e-12             4000
8  1.248126e-11           3997   1.312948e-11             4000
9  4.187312e-11           3983   4.507396e-11             4000

## 4.2 Noise after tuning

In this case, adding noise lowered solution accuracy, although the results are stable.

In [11]:
# Get a summary of the MSE across seeds
pos_full = get_full_mse_df("rand_reps_pos_noise_1.npy")
pos_summary = get_summary_mse_df(pos_full)
pos_summary

    min_val_mse  min_mse_iters  final_val_mse  final_mse_iters
0  1.203856e-09           3989   1.215394e-09             4000
1  4.947863e-10           3559   5.005950e-10             4000
2  1.806374e-10           3803   1.912235e-10             4000
3  1.363557e-10           3929   1.440514e-10             4000
4  4.396103e-10           3970   4.471216e-10             4000
5  8.872748e-10           3849   9.099729e-10             4000
6  6.134688e-10           3986   6.166037e-10             4000
7  1.333717e-10           3997   1.341590e-10             4000
8  9.692190e-10           3989   9.913105e-10             4000
9  1.117513e-09           3924   1.127788e-09             4000

## 4.3 Adam (no noise)

In [11]:
# Get a summary of the MSE across seeds
pos_full = get_full_mse_df("rand_reps_pos_adam.npy")
pos_summary = get_summary_mse_df(pos_full, n_reps=20)
pos_summary

     min_val_mse  min_mse_iters  final_val_mse  final_mse_iters
0   1.050902e-12           2568   1.436877e-12             4000
1   1.707731e-12           2425   2.146807e-12             4000
2   7.787284e-13           2475   1.124654e-12             4000
3   1.082065e-12           2309   1.140577e-12             4000
4   9.097692e-13           2395   1.005552e-12             4000
5   5.054767e-13           2373   5.399321e-13             4000
6   1.063744e-12           2232   2.098965e-12             4000
7   8.850637e-13           2531   1.581557e-12             4000
8   8.161408e-13           2292   8.734907e-13             4000
9   1.625556e-12           2420   2.124601e-12             4000
10  1.120247e-12           2364   1.203503e-12             4000
11  1.100943e-12           2307   2.202347e-12             4000
12  1.283066e-12           2366   1.330610e-12             4000
13  6.713392e-13           2443   7.869364e-13             4000
14  1.101958e-12           2431   1.143433e-12             4000
15  1.470541e-12           2389   2.058842e-12             4000
16  6.722554e-13           2462   1.064482e-12             4000
17  3.979684e-13           2286   4.655351e-13             4000
18  7.802905e-13           2565   1.317905e-12             4000
19  8.492225e-13           2279   2.443647e-12             4000

## 4.4 Adam (noise after tuning)

In [17]:
# Get a summary of the MSE across seeds
pos_full = get_full_mse_df("rand_reps_pos_adam_noise.npy")
pos_summary = get_summary_mse_df(pos_full, n_reps=20)
pos_summary

     min_val_mse  min_mse_iters  final_val_mse  final_mse_iters
0   7.243365e-13           2428   7.368961e-13             4000
1   9.406646e-13           2429   1.018812e-12             4000
2   3.482194e-12           2627   3.516865e-12             4000
3   8.932084e-13           2729   9.842007e-13             4000
4   1.024856e-12           2149   3.209966e-12             4000
5   1.155631e-12           2511   1.444044e-12             4000
6   6.549532e-13           2323   6.722455e-13             4000
7   4.322165e-13           2472   4.972379e-13             4000
8   6.443785e-13           2437   1.155068e-12             4000
9   1.164365e-12           2327   2.764802e-12             4000
10  1.419780e-12           2247   1.457873e-12             4000
11  1.252763e-12           2280   1.604740e-12             4000
12  5.976178e-13           2484   6.971179e-13             4000
13  1.154197e-12           2240   1.613118e-12             4000
14  4.486241e-13           2621   4.569797e-13             4000
15  1.773094e-12           2458   2.406899e-12             4000
16  4.434444e-13           2356   4.563146e-13             4000
17  1.448319e-12           2209   1.553448e-12             4000
18  6.190616e-13           2349   6.908706e-13             4000
19  7.326004e-13           2359   1.195637e-12             4000

# 5. SIR

## 5.1 No noise (Adam optimizer)

In [21]:
# Get a summary of the MSE across seeds
sir_full = get_full_mse_df("rand_reps_sir_adam.npy")
sir_summary = get_summary_mse_df(sir_full, n_reps=20)
sir_summary

     min_val_mse  min_mse_iters  final_val_mse  final_mse_iters
0   1.165608e-09          26379   1.333045e-09            30000
1   1.662751e-03           3975   3.875408e-01            30000
2   2.692391e-03          29183   2.790096e-03            30000
3   1.980816e-09          29898   2.046600e-09            30000
4   2.755768e-08          26778   3.059807e-08            30000
5   1.993265e-07          15263   2.452545e-07            30000
6   6.597986e-07          22483   9.111996e-07            30000
7   1.541048e-08          20241   5.142203e-08            30000
8   1.707286e-08          29994   1.725338e-08            30000
9   2.210747e-09          27238   2.774004e-09            30000
10  5.075899e-08          29875   5.192711e-08            30000
11  2.394626e-06          30000   2.394626e-06            30000
12  3.639259e-07          15396   5.134254e-07            30000
13  1.384459e-09          29932   1.476418e-09            30000
14  2.186194e-10          29854   2.325141e-10            30000
15  2.767288e-07          29986   2.776472e-07            30000
16  3.915173e-09          29982   3.985888e-09            30000
17  4.909052e-03           3329   3.897600e-01            30000
18  6.394616e-07          29948   6.485383e-07            30000
19  2.812210e-09          28838   2.993489e-09            30000

## 5.2 Noise after tuning (Adam optimizer)

In [24]:
# Get a summary of the MSE across seeds
sir_full = get_full_mse_df("rand_reps_sir_adam_noise.npy")
sir_summary = get_summary_mse_df(sir_full, n_reps=20)
sir_summary

     min_val_mse  min_mse_iters  final_val_mse  final_mse_iters
0   1.458922e-07          26345   4.847688e-07            30000
1   2.953224e-08          29977   3.050655e-08            30000
2   5.172009e-09          29989   5.268113e-09            30000
3   1.055127e-07          29993   1.070018e-07            30000
4   9.305415e-09          29943   9.537780e-09            30000
5   1.542368e-08          29991   1.571501e-08            30000
6   5.377069e-07          29943   5.426709e-07            30000
7   7.139307e-04          30000   7.139307e-04            30000
8   8.494647e-09          29098   9.117068e-09            30000
9   4.053935e-08          29371   4.183498e-08            30000
10  1.595915e-09          29316   1.610779e-09            30000
11  3.070065e-09          24798   3.322818e-09            30000
12  5.892955e-08          29965   5.970507e-08            30000
13  1.538704e-08          20587   2.322097e-08            30000
14  4.948849e-03           8045   3.891369e-02            30000
15  1.486381e-07          15198   3.102090e-07            30000
16  1.615211e-09          28299   1.673214e-09            30000
17  4.961342e-09          22902   7.752361e-09            30000
18  2.612456e-08          29976   2.682888e-08            30000
19  2.416174e-08          18546   2.629045e-08            30000

We want to bridge the gap between Adam and SGD so that we can obtain good results using SGD. In PyTorch, the weight update for SGD with Nesterov's momentum is

$$
w_{t+1} = w_t - \eta*v_{t+1} \\
v_{t+1} = p*v_t + g_{t+1}
$$

where $p$ is the momentum. For Adam, the update is

$$
w_{t+1} = w_t - \frac{\eta}{\sqrt{v_t} + \epsilon}m_t \\
m_{t+1} = \frac{\beta_1 m_t + (1-\beta_1)g_t}{1-\beta^t_1} \\
v_{t+1} = \frac{\beta_2 v_t + (1-\beta_2)g^2_t}{1-\beta^t_2}
$$

For both Adam and SGD, we apply a `StepLR` scheduler that we use to decay $\eta$ by a factor of $\gamma$ every `step_size` iterations, i.e. $\eta_{t+1} = \gamma \eta_t.$

Pavlos suggestions:
- We want the effective learning rate of the two optimizers to look the same!
- Plot the effective learning rate vs iterations for SGD - the bad ones should go down really fast (see picture)
- Sanity check: record the effective learning rate of Adam at fixed iterations and run SGD, setting the effective learning rate of SGD to that of Adam (hack)
- Play around with the equations more - we want to find out how to use the parameters of SGD to mimic the parameters of Adam *exactly*.

1. Still need to get good hypers for RANS
2. How should we demonstrate the increased stability of DEQGAN + noise/early abandonment?
3. Transfer learning on hyperparameters: I have all these results of hyperparameter tuning, can we use them to learn good hyperparameters for the next experiments?
4. Next problems: COO, wave equation, burger's equation + ping David